@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    font-family: 'Poppins';
    font-optical-sizing:auto;
    font-weight: 300;
    font-style: normal;
}

.box {
    border-radius: 10px;
    width: 20rem;
    padding: 15px;

    background-color: #2b2929;

    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-content: center;
    color: #ffffff;
}


.header {
    margin: 5px;
    font-size: 14px;
}

.logo{
    /* cursor: pointer; */
    height: 7rem;
    width: 15rem;
    object-fit: cover;
}

.mid {
    /* background-color: #e6dddd; */
    padding: 5px;
    text-align: left;
    
}

.mid p{
    overflow-y: scroll;
    line-height: 2;
}

.mid a{
    font-size: smaller; 
    color: rgb(167, 167, 167);
    /* display: none; */
  }
  

.results {
    /* background-color: #e6dddd; */
    flex-grow: 1;
}

/*
.message {
    display: flex;
    gap: 10px;
    height: 25px;
}

.content {
    background-color: #524f4f;
    border-radius: 30px;
    color: white;

    padding-left: 10px;
    padding-right: 10px;
    height: 22px;
    flex-grow: 1;

    border:none;

    transition: .2s ease-out;
}

.content:hover {
    transform: scale(104%);
}

*/

/*
.search-input {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    border: solid 2px #4b4747;
    z-index: 5;
    /* box-shadow: 0px 1px 5px 3px black; *
}

.search-input input {
    height: 30px;
    outline: none;
    border-radius: 5px;
    padding-right: 80px;
    font-size: 18px;
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0, 1); *
}

.content {
    border:none
}


.search-input .autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.autocom-box.active {
    background-color: white;
    margin-left:2px;

    transform: translateY(-3px);
    width: 310px;
    opacity: 1;
    pointer-events: auto;
    border-radius: 5px;
    z-index: -1;
}

.autocom-box li {
    color: black;
    text-align: left;
    font-size: 15px;
    list-style: none;
    cursor: default;
    border-radius: 3px;
    display: none;
}

li {
    padding: 13px 8px;
    cursor: pointer;
}

.autocom-box.active li {
    display: block;

}

.autocom-box li:hover {
    background: #d8d8d8;
}

.autocom-box.active .autocom-box li:hover {
    display: block;
}

*/

.wrapper {
    display: flex;
    gap: 5px;
    align-items: center;

}

.search-input input {
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0, 1); */
}

.content {
    height: 30px;
    width: 295px;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 5px;
    border: solid 2px #141313;
    transition: .2s ease-out;
}

.content:hover {
    transform: scale(103%);
}

.btn {
    border-radius: 5px;
    color: white;
    background-color: #8c52ff;
    
    margin-top: 5px;
    width: 302px;
    height: 32px;

    border: none;
    cursor: pointer;

    transition: .2s ease-out;
}

.btn:hover {
    background-color: #5542be;
    transform: scale(103%);
    transition: .2s ease-out;
}
